namespace: ${NAMESPACE}
name: cosmotech-api-latest
labels:
  networking/traffic-allowed: "yes"

defaultRules:
  create: true

kubernetesServiceMonitors:
  enabled: true

## Alertmanager Configuration
alertmanager:
  enabled: true
  alertmanagerSpec:
    logLevel: info
    tolerations:
      - key: "vendor"
        operator: "Equal"
        value: "cosmotech"
        effect: "NoSchedule"
    nodeSelector:
      "cosmotech.com/tier": "monitoring"
    podMetadata:
      labels:
        networking/traffic-allowed: "yes"
    resources:
      requests:
        cpu: 1
        memory: 400Mi
      limits:
        cpu: 1
        memory: 1Gi

## Windows Monitoring
windowsMonitoring:
  enabled: false

## Grafana Configuration
grafana:
  enabled: true
  adminPassword: ${PROMETHEUS_ADMIN_PASSWORD}
  defaultDashboardsEnabled: true
  sidecar:
    dashboards:
      multicluster:
        enabled: true
        label: grafana_dashboard
        labelValue: "1"
        searchNamespace: ALL
        annotations: {}
        global:
          enabled: false
        etcd:
          enabled: false
    datasources:
      alertmanager:
        enabled: true
        uid: alertmanager
        handleGrafanaManagedAlerts: false
        implementation: prometheus
  grafana.ini:
    server:
      domain: ${COSMOTECH_CLUSTER_DOMAIN}
      root_url: "%(protocol)s://%(domain)s/monitoring"
      serve_from_sub_path: true
  ingress:
    enabled: true
    path: "/monitoring"
    annotations:
      kubernetes.io/ingress.class: nginx
    hosts:
      - ${COSMOTECH_CLUSTER_DOMAIN}
    tls:
      - secretName: "letsencrypt-prod"
        hosts:
          - ${COSMOTECH_CLUSTER_DOMAIN}
  plugins:
    - redis-datasource
  additionalDataSources:
    - name: cosmotech-redis
      orgId: 1
      type: redis-datasource
      access: proxy
      url: redis://cosmotechredis-redis-master.redis.svc.cluster.local:6379
      basicAuth: false
      withCredentials: false
      isDefault: false
      version: 1
      editable: false
      secureJsonData:
        password: ${REDIS_ADMIN_PASSWORD}
  dashboardProviders:
    dashboardproviders.yaml:
      apiVersion: 1
      providers:
        - name: default
          orgId: 1
          folder: ''
          type: file
          disableDeletion: false
          editable: true
          options:
            path: /var/lib/grafana/dashboards/default
  dashboards:
    default:
      redis:
        gnetId: 12776
        revision: 2
        datasource: cosmotech-redis
      argo:
        gnetId: 14136
        revision: 1
        datasource: Prometheus
      nginx:
        gnetId: 9614
        revision: 1
        datasource: Prometheus
      minio:
        gnetId: 15305
        revision: 1
        datasource: Prometheus
      postgresql:
        gnetId: 9628
        revision: 7
        datasource: Prometheus
      certmanager:
        gnetId: 11001
        revision: 1
        datasource: Prometheus
      rabbitmq:
        gnetId: 10991
        revision: 14
        datasource: Prometheus
      csm_licensing:
        url: "https://raw.githubusercontent.com/Cosmo-Tech/azure-platform-deployment-tools/main/grafana/cosmotech_licensing/v8/cosmotech_licensing.json"
      csm_licensing_light:
        url: "https://raw.githubusercontent.com/Cosmo-Tech/azure-platform-deployment-tools/main/grafana/cosmotech_licensing/v8/cosmotech_licensing_light.json"
      csm_customer_success:
        url: "https://raw.githubusercontent.com/Cosmo-Tech/azure-platform-deployment-tools/main/grafana/customer_success/v1/customer_success.json"
      csm_api:
        url: "https://raw.githubusercontent.com/Cosmo-Tech/azure-platform-deployment-tools/main/grafana/cosmotech_api/v1/cosmotech_api.json"
  tolerations:
    - key: "vendor"
      operator: "Equal"
      value: "cosmotech"
      effect: "NoSchedule"
  nodeSelector:
    "cosmotech.com/tier": "monitoring"

## Prometheus Components
kubeApiServer: { enabled: true }
kubelet: { enabled: true }
kubeControllerManager: { enabled: true }
coreDns: { enabled: true }
kubeEtcd: { enabled: true }
kubeScheduler: { enabled: true }
kubeStateMetrics:
  enabled: true

prometheusOperator:
  tolerations:
    - key: "vendor"
      operator: "Equal"
      value: "cosmotech"
      effect: "NoSchedule"
  nodeSelector:
    "cosmotech.com/tier": "monitoring"
  admissionWebhooks:
    patch:
      labels:
        networking/traffic-allowed: "yes"
      nodeSelector:
        "cosmotech.com/tier": "monitoring"
      tolerations:
        - key: "vendor"
          operator: "Equal"
          value: "cosmotech"
          effect: "NoSchedule"

prometheus:
  enabled: true
  crname: prometheus
  networkPolicy:
    enabled: false
  serviceAccount:
    create: true
    name: prometheus-service-account
  prometheusSpec:
    serviceMonitorSelectorNilUsesHelmValues: false
    logLevel: info
    replicas: 1
    tolerations:
      - key: "vendor"
        operator: "Equal"
        value: "cosmotech"
        effect: "NoSchedule"
    nodeSelector:
      "cosmotech.com/tier": "monitoring"
    podMetadata:
      annotations:
        cluster-autoscaler.kubernetes.io/safe-to-evict: "true"
      labels:
        app: prometheus
    resources:
      requests:
        cpu: "500m"
        memory: "512Mi"
      limits:
        cpu: "500m"
        memory: "512Mi"
    retention: "15d"
    storageSpec:
      volumeClaimTemplate:
        spec:
          storageClassName: ${PERSISTENCE_STORAGE_CLASS}
          accessModes: [ReadWriteOnce]
          resources:
            requests:
              storage: ${PERSISTENCE_SIZE}
  additionalServiceMonitors:
    - name: cosmotech-v1
      additionalLabels:
        serviceMonitorSelector: prometheus
      endpoints:
        - interval: 30s
          targetPort: 8081
          path: /actuator/prometheus
      namespaceSelector:
        matchNames:
          - phoenix
      selector:
        matchLabels:
          app.kubernetes.io/instance: cosmotech-api-v1

## Node Exporter
nodeExporter:
  enabled: true

prometheus-node-exporter:
  podLabels:
    jobLabel: node-exporter
  releaseLabel: true
  extraArgs:
    - --collector.filesystem.mount-points-exclude=^/(dev|proc|sys|var/lib/docker/.+|var/lib/kubelet/.+)($|/)
    - --collector.filesystem.fs-types-exclude=^(autofs|binfmt_misc|bpf|cgroup2?|configfs|debugfs|devpts|devtmpfs|fusectl|hugetlbfs|iso9660|mqueue|nsfs|overlay|proc|procfs|pstore|rpc_pipefs|securityfs|selinuxfs|squashfs|sysfs|tracefs)$
  service:
    portName: http-metrics
  prometheus:
    monitor:
      enabled: true
      jobLabel: jobLabel
      honorLabels: true
      metricRelabelings: []
      relabelings: []
  rbac:
    pspEnabled: false
