loki:
  isDefault: false
  tolerations:
    - key: "vendor"
      operator: "Equal"
      value: "cosmotech"
      effect: "NoSchedule"
  nodeSelector:
    cosmotech.com/tier: "monitoring"
  persistence:
    enabled: true
  volumePermissions:
    enabled: true      
    accessModes:
      - ReadWriteOnce
    size: "${PERSISTENCE_LOKI_SIZE}"
    storageClass: "${PERSISTENCE_STORAGE_CLASS}"
    existingClaim: "${PERSISTENCE_LOKI_PVC}"
  config:
    auth_enabled: false
    table_manager:
      retention_deletes_enabled: true
      retention_period: "720h"
    limits_config:
      max_entries_limit_per_query: "50000"
volumePermissions:
  enabled: true      
grafana:
  enabled: true
  persistence:
    type: pvc
    enabled: true
  volumePermissions:
    enabled: true         
    accessModes:
      - ReadWriteOnce
    size: "${PERSISTENCE_GRAFANA_SIZE}"
    storageClassName: "${PERSISTENCE_STORAGE_CLASS}"
    existingClaim: "${PERSISTENCE_GRAFANA_PVC}"
  tolerations:
    - key: "vendor"
      operator: "Equal"
      value: "cosmotech"
      effect: "NoSchedule"
  nodeSelector:
    cosmotech.com/tier: "monitoring"
promtail:
  config:
    clients:
      - url: "http://loki.${NAMESPACE}:3100/loki/api/v1/push"
    snippets:
      pipelineStages:
        - cri: {}
        - match:
            selector: '{host=~".*"}'
            stages:
              - json:
                  expressions:
                    output: log
              - json:
                  source: output
                  expressions:
                    message: message
                    level: log.level
              - labels:
                  tenant_id:
                  message:
                  namespace:
        - match:
            action: drop
            pipeline_name: keep only workflows logs and Tekton logs
            selector: '{container!="main", container!="step-kubectl", container!="step-deploy-chart", container!="step-lint-chart"}'
        - match:
            action: drop
            pipeline_name: drop redis
            selector: '{app="redis"}'
        - match:
            action: drop
            pipeline_name: drop minio
            selector: '{app="minio"}'
        - match:
            action: drop
            pipeline_name: drop postgresql
            selector: '{app="postgresql"}'
        - match:
            action: drop
            pipeline_name: drop cosmotech-api
            selector: '{app="cosmotech-api"}'
        - output:
            source: message
  tolerations:
    - key: "vendor"
      operator: "Equal"
      value: "cosmotech"
      effect: "NoSchedule"
