global:
  security:
    allowInsecureImages: true
  postgresql:
    auth:
      database: "keycloak_db"
      username: ${POSTGRES_USER}
      existingSecret: ${SECRET}
      secretKeys:
        userPasswordKey: ${POSTGRES_PASSWORD_SECRET_KEY}
        adminPasswordKey: ${POSTGRES_ADMIN_PASSWORD_SECRET_KEY}
primary:
  persistence:
    enabled: true
    existingClaim: ${PVC_NAME}
  nodeSelector:
    "cosmotech.com/tier": "db"
  tolerations:
    - key: "vendor"
      operator: "Equal"
      value: "cosmotech"
      effect: "NoSchedule"
volumePermissions:
  enabled: true
  image:
    registry: docker.io
    repository: bitnamilegacy/os-shell       # legacy shell image
    tag: latest
    pullPolicy: IfNotPresent
    pullSecrets: []   
image:
  repository: "bitnamilegacy/postgresql"