global:
  security:
    allowInsecureImages: true
  postgresql:
    auth:
      database: "keycloak_db"
      username: ${POSTGRES_USER}
      existingSecret: ${SECRET}
      secretKeys:
        userPasswordKey: ${POSTGRES_PASSWORD_SECRET_KEY}
        adminPasswordKey: ${POSTGRES_ADMIN_PASSWORD_SECRET_KEY}
primary:
  persistence:
    enabled: true
    existingClaim: ${PVC_NAME}
  nodeSelector:
    "cosmotech.com/tier": "db"
  tolerations:
    - key: "vendor"
      operator: "Equal"
      value: "cosmotech"
      effect: "NoSchedule"
  podSecurityContext:
    fsGroup: 1001
    fsGroupChangePolicy: "OnRootMismatch"
  containerSecurityContext:
    runAsUser: 1001
    runAsNonRoot: true
  initContainers:
    - name: fix-permissions
      image: busybox:1.36
      command: ["sh", "-c", "chown -R 1001:1001 /bitnami/postgresql"]
      volumeMounts:
        - name: data
          mountPath: /bitnami/postgresql
image:
  repository: "bitnamilegacy/postgresql"      